---
title: Carter M. Young Obituary (1946 - 2023)
layout: one_column
excerpt: A loving husband, father, grandfather, and successful businessman.
h1: Obituary (1946 - 2023)
slides: 6
alt_tags:
  - Photograph of Carter with his family
  - Photograph of Young family at Ryan's wedding
  - Photograph of Carter with friends
  - Photograph of Carter with the Burtons
  - Photograph of Carter and Ryan at his wedding
  - Photograph of Carter and his grandson Finnegan
---

        <p><img alt="Photograph of Carter M. Young" src="/images/homepage/carter.png" style="float:right" width="175">Carter M. Young of Blue Bell, Pennsylvania passed in the presence of his loving wife Tuesday February 7, 2023 after a short illness.</p>
        <p>Born to Roy and Dama (Michael) Young; beloved husband of 52 years to Margaret (Oberlander); loving father to Ryan Young (Katie Trifiletti) and Kirsten Henry (Joe); dear grandfather to Finnegan Henry.</p>
        <p>Carter was raised in Nazareth, where he attended high school and was a member of the tennis team. He then went on to attend Drexel University of Technology, where he met Peggy and graduated with a Bachelors in engineering. He was also a member of Alpha Pi Lambda fraternity. He served as President his senior year.</p>
        <p>After college, Carter worked for Schaefer and Company for more than 30 years and finished his career managing a successful consultancy. He was an owner's representative for many esteemed clients who appreciated and admired his advice.</p>
        <p>In his personal life, Carter most enjoyed golf. He and Peggy joined Blue Bell's Cedarbrook Country Club in 1976, where he served as Vice President of the Board and held various positions on the Golf Committee. He was also an avid horseman. He was an owner, handicapper, and attended all of the Triple Crown races along with multiple Breeders Cup events. His other passions included fishing, often bringing home the catch of the day to enjoy with his family.</p>
        <p>Living in the Philadelphia area, it goes without saying that he was a huge fan of the local professional sports teams with a special love of the Eagles. Go Birds. He also followed high school athletics, always keeping up to date with his son Ryan's swim team at alma mater LaSalle College High School but also followed local high school football and wrestling.</p>
        <p>But if you ask anyone about Carter, most likely their first response will involve his generosity. His heart was bigger than life, as they say. His first love was the long running Tee-off Fore the Children at Cedarbrook. The annual golf outing that he started some 40 years ago has raised multiple millions of dollars for his favorite charity, the Committee to Benefit the Children (CBC). This year's event, normally held in July, has already committed to hosting a tree planting ceremony in Carter's honor. Along with the CBC, he donated a very generous percentage of his income when consulting with non-profit clients including local Philadelphia area religious and educational organizations.</p>
        <p>Carter was a longtime member of Upper Dublin Lutheran Church and enjoyed donating his time to their various construction projects. He was a constant fixture at Sunday service, especially those held in their outdoor sanctuary.</p>
        <p>His visitation will be held at 10 AM Friday, February 17, 2023 at Upper Dublin Lutheran Church - <a href="https://udlc.org">udlc.org</a> - 411 Susquehanna Road, Ambler PA 19002. There will be a service to follow at 11.</p>
        <p>The interment is private.</p>
        <p>In lieu of flowers, donations are appreciated. Committee to Benefit the Children - <a href="http://cbckids.org">cbckids.org</a></p>
        <div id="photoCarousel" class="carousel carousel-fade slide pb-3" data-bs-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">{% assign minus1 = page.slides | minus: 1 %}{% for indicator in (0..minus1) %}
            <li data-bs-target="#photoCarousel" data-bs-slide-to="{{ indicator }}" aria-label="Slide {{ indicator }}"{% if indicator == 0 %} class="active" aria-current="true"{% endif %}></li>{% endfor %}
          </ol>
          <!-- Wrapper for slides -->
          <div class="carousel-inner">{% assign counter = 1 %}{% for tag in page.alt_tags %}
            <div class="carousel-item{% if counter == 1 %} active{% endif %}">
              <img alt="{{ tag }}" class="d-block w-100" src="/images/homepage/{{ counter }}.jpg">
            </div>{% assign counter = counter | plus: 1 %}{% endfor %}
          </div>
          <!-- Controls -->
          <button class="carousel-control-prev" type="button" data-bs-target="#photoCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#photoCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
