    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ page.excerpt| strip_html }}">
    <meta name="author" content="{{ site.name }}">
    <meta itemprop="name" content="{{ page.title }}">
    <meta itemprop="description" content="{{ page.excerpt| strip_html }}">
    <meta itemprop="image" content="{{ site.url }}/images/cartermyoung.jpg">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:image" content="{{ site.url }}/images/cartermyoung.jpg">
    <meta property="og:description" content="{{ page.excerpt| strip_html }}">
    <meta property="og:site_name" content="{{ site.name }}">
    <meta property="og:locale" content="en_US">
    <meta name="twitter:card" content="summary">
    <meta property="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.excerpt| strip_html }}">
    <meta name="twitter:image" content="{{ site.url }}/images/cartermyoung.jpg">