---
title: Waynesborough Renovation Photos | Carter M. Young, Owner’s Representative
layout: default
excerpt: Photos from Waynesborough Country Club Swimming Pool Renovation managed by Carter M. Young, Owner’s Representative.
h1: Waynesborough Renovation Photos
project: waynesborough
slides: 9
alt_tags:
  - Architect’s rendering overview
  - Architect’s rendering main pool
  - Architect’s rendering pool house
  - Architect’s rendering ground level
  - Main pool hole
  - Concrete truck
  - Main pool concrete
  - Baby pool
  - Delivering flooring
---

      <div class="container fw-light pb-5">
        <h1 class="fw-light h2 pt-4 pb-3">{{ page.h1 }}</h1>
        <div id="photoCarousel" class="carousel carousel-fade slide pb-3" data-bs-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">{% assign minus1 = page.slides | minus: 1 %}{% for indicator in (0..minus1) %}
            <li data-bs-target="#photoCarousel" data-bs-slide-to="{{ indicator }}" aria-label="Slide {{ indicator }}"{% if indicator == 0 %} class="active" aria-current="true"{% endif %}></li>{% endfor %}
          </ol>
          <!-- Wrapper for slides -->
          <div class="carousel-inner">{% assign counter = 1 %}{% for tag in page.alt_tags %}
            <div class="carousel-item{% if counter == 1 %} active{% endif %}">
              <img alt="{{ tag }}" class="d-block w-100" src="../../images/projects/{{ page.project }}/carousel{{ counter }}.jpg">
            </div>{% assign counter = counter | plus: 1 %}{% endfor %}
          </div>
          <!-- Controls -->
          <button class="carousel-control-prev" type="button" data-bs-target="#photoCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#photoCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <p>“Thank you for all that you have done to see this project to its conclusion. You were an important and critical part of the FMP’s success. It goes without saying that we could not have done it without you. It is unfortunate that we had to end in a pandemic but WCC is truly a better club and a better place with all the improvements. You will have to come over this summer and join me and a few others for a round of golf. I look forward to seeing you at that time.”</p>
        <p>- Bill Simon, Waynesborough’s Chairman of the Facilities Committee</p>
      </div>