---
layout: two_column
---
            <div id="photoCarousel" class="carousel carousel-fade slide pb-3" data-bs-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">{% assign minus1 = page.slides | minus: 1 %}{% for indicator in (0..minus1) %}
                <li data-bs-target="#photoCarousel" data-bs-slide-to="{{ indicator }}" aria-label="Slide {{ indicator }}"{% if indicator == 0 %} class="active" aria-current="true"{% endif %}></li>{% endfor %}
              </ol>
              <!-- Wrapper for slides -->
              <div class="carousel-inner">{% assign counter = 1 %}{% for tag in page.alt_tags %}
                <div class="carousel-item{% if counter == 1 %} active{% endif %}">
                  <img alt="{{ tag }}" class="d-block w-100" src="../../images/projects/{{ page.project }}/carousel{{ counter }}.jpg">
                </div>{% assign counter = counter | plus: 1 %}{% endfor %}
              </div>
              <!-- Controls -->
              <button class="carousel-control-prev" type="button" data-bs-target="#photoCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#photoCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
{{ content }}
            <nav aria-label="Pagination" class="mb-3">{% if page.previous %}
              <a class="btn btn-outline-primary rounded-pill mb-2" href="/projects/{{ page.previous }}/" role="button">Previous</a>{% endif %}{% if page.next %}
              <a class="btn btn-outline-primary rounded-pill mb-2{% if page.project != "redeemer-parish-house" %} ms-2{% endif %}" href="/projects/{{ page.next }}/" role="button">Next</a>{% endif %}
            </nav>